.title {
    color: blue;
    text-align: center;
}
.subtitle {
    height: auto;
    width: 97vw;
    background-color: beige;
}
.image {
    display: inline-flex;
    vertical-align: top;
    height: 140px;
    width: 150px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 2px;
    padding: 3px;
    margin: 7px;
}
.div {
    display: flex
}
.edit{
    flex: 2
}
.line{
    flex:1
}